.card {
	width: 20.5rem;
	height: 15rem;
	padding: 0px;
	overflow: hidden;
	border-radius: 5%;
	background-color: #adc1d4f8;
	margin-bottom: .5rem;
	transition: all 2s 1s;
	border: 0.72rem solid #3c6c9ef8;
	position: relative;
}

.card img {
	position: relative;
	width: 15rem;
}
.card-overlay {
	background-color: #ececec;
	width: 20.5rem;
	height: 0rem;
}

.card:hover .card-overlay {
	position: absolute;
	background-color: rgba(214, 183, 226, 0.8);
	z-index: 3;
	width: 20.5rem;
	height: 15rem;
	top: 0px;
	left: 0px;
	font-size: 1.5em;
	font-weight: bold;
	align-items: center;
	display: flex;
	transition: height 1s;
}