.cards {
	min-height: calc(100vh - 266px - 320px);
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	transition: all 2s ease;
	background: linear-gradient(90deg, #0090ffee 13%, #052b54 70%);
}
