.img-body {
        background-image: url('../../assets/images/header/img_test/IMG_6065.JPG');

        min-height: 35rem; 
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}


.img-body {
	width: 100%;
	position: relative;
	display: flex;
        align-items: center;

}

.home .overlay-on {
        min-height: 35rem; 
        height: 100%;
        top: 0px;
        position: absolute;
        z-index: 2;
        width: 100%;
        transition: all .3s ease-in;
}

.go-down-btn {
    height: 3rem;
    width: 5rem;
    position: relative;
    top: -4.3rem;
    color: #2634dd;
    z-index: 2;
        margin-left: auto;
        margin-right: auto;
}

.go-down-btn::after {
        content: '▽';
        font-family: 'Kalam', cursive;
        font-size: 3em;
        cursor: pointer;
        transition: all ease-in .3s;
}

.go-down-btn:hover::after {
        font-size: 4em;
        font-weight: bolder;
        color: #19a2d8;
}