.header-options {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	transition: ease .5s all;
	z-index: 1;
}

.img-header {
	background-image: url('../../assets/images/header/img_test/IMG_5240.jpeg');
	min-height: 35rem;
	background-attachment: fixed;
	background-position: unset;
	background-position-x: -27rem;
	background-size: 208rem;
	background-repeat: no-repeat;
	position: relative;
}

.img-header {
	width: 100%;
	position: absolute;
	display: block;
	height: 100%;
}

.header .overlay-on {
	height: 100%;
	top: 0px;
	position: absolute;
	z-index: 2;
	width: 100%;
	background-color: rgb(68 83 189 / 30%);
}

.header .overlay-off {
	height: 100%;
	top: 0px;
	position: absolute;
	z-index: 2;
	width: 100%;
	background-color: rgb(68 83 189 / 30%);
}

.header-options .option {
	list-style: none;
	height: 100%;
	width: calc(100% / 3);
	min-width: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: ease .5s all;
	font-weight: 800;
	font-size: 2rem;
	z-index: 2;
}

.header-overflow {
	overflow: hidden;
}

.header-no-overflow {
	overflow: initial;
}


.header {
	position: relative;
	height: 35rem;
	margin-bottom: 0rem;
}

.header:hover + .go-down-btn::after {
        color: #19a2d8;
}

.option-title {
	position: absolute;
	color: #3d63ec;
}

.option:hover .option-title {
	color: #19a2d8;
	transition: ease all 1s;
}

.option-image {
	width: 100%;
	height: 100%;
	position: relative;
	opacity: .5;
}

.option:hover .option-image {
	opacity: .2;
}

li.option:hover {
	cursor: pointer;
	box-shadow: 9px 9px 15px;
	z-index: 2;
	background: transparent;
	background-color: #f0f8ff73;
}

li.option:hover .overlay-on {
	background-color: red;
}

.option:hover h1 {
	background: transparent;
}

.option:hover .option-title {
	z-index: 3;
}

@media only screen and (max-width: 970px) {
	.header-options {
		height: 50%;
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		transition: ease .5s all;
		z-index: 1;
	}
	.header-options .option {
		width: 100%;
		height: 18rem;
		overflow: hidden;
		z-index: 2;
	}
	.header {
		height: auto;
	}
	.option-image {
		width: 100%;
		height: auto;
	}
	.option-title {
		margin: 0;
	}
}

.header::before {
	content: ' ';
	position: absolute;
	background-repeat: no-repeat;
	background-size: auto;
	width: 100%;
	height: 106%;
	left: 0;
}

.header-svg-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	z-index: 0;
}

@keyframes startSpark {
	0% {
		background-color: transparent;
		box-shadow: 0 0 0px 0px transparent;
	}
	100% {
		background-color: #fff;
		box-shadow: 0 0 49px 38px #fff, 0 0 100px 38px #0a56ff, 0 0 140px 90px #7490e2;
	}
}

div[class^='spark-state1_'] {
	position: absolute;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 37px 32px #fff, 0 0 100px 38px #0a56ff, 0 0 118px 79px #7490e2;
	z-index: 1;
	transition: all 3s ease;
	opacity: .9;
}

.spark-state1 {
	position: absolute;
	top: 51%;
	left: 99.5%;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 49px 38px #fff, 0 0 100px 38px #0a56ff, 0 0 140px 90px #7490e2;
	z-index: 1;
	animation: startSpark ease 1s;
}