
.header-options {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	transition: ease .5s all;
}


.header-options li:first-child {
	font-family: 'Lobster', cursive;
}

.header-options .option {
	list-style: none;
	height: 100%;
	width: calc(100% / 3);
	min-width: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: ease .5s all;
	font-weight: 800;
	font-size: 2rem;
	
}

.header {
	padding: 5px;
	position: relative;
	height: 16rem;
	margin-bottom: 2rem;
	background: linear-gradient(90deg, #0090ffee 13%, #052b54 70%);
}


.option-title {
	position: absolute;
}

.option-image {
	width: 100%;
	height: 100%;
	position: relative;
	opacity: .5;
}

.option:hover .option-image {
	opacity: .2;
}

.option:hover {
	/* color: #fff; */
	cursor: pointer;
	box-shadow: 9px 9px 15px;
    	z-index: 2;
	background: transparent;
}

.option:hover h1{
    background: transparent;
    color: #fff;
}

.option:hover .option-title {
	z-index: 3;
}

/* @media only screen  and (max-width: 430px)  */
@media only screen and (max-width: 970px) {
	.header-options {
		height: 50%;
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		transition: ease .5s all;
	}

	.header-options .option {
		width: 100%;
		height: 18rem;
		overflow: hidden;		
	}

	.header {
		height: auto;
	}
	.option-image {
		width: 100%;
		height: auto;
	}

	.option-title {
		margin: 0;
	}
	
}

.header::before {
	content: ' ';
	position: absolute;
	background-repeat: no-repeat;
	background-size: auto;
	width: 100%;
	height: 106%;
	left: 0;
}

.header-svg-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	filter: drop-shadow(1px 3px 4px #fff);
}
