
.header-options {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	transition: ease .5s all;
}


.header-options li:first-child {
	font-family: 'Lobster', cursive;
}

.header-options .option {
	list-style: none;
	height: 100%;
	width: calc(100% / 3);
	min-width: 20rem;
	background-color: #73a0d0f8;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: ease .5s all;
	font-weight: 800;
	font-size: 2rem;
	
}

.header {
	padding: 5px;
	position: relative;
	height: 16rem;
}


.option-title {
	position: absolute;
}

.option-image {
	width: 100%;
	height: 100%;
	position: relative;
	opacity: .5;
}

.option:hover .option-image {
	opacity: .2;
}

.option:hover {
	cursor: pointer;
	box-shadow: 9px 9px 15px;
    z-index: 2;
}

.option:hover .option-title {
	z-index: 3;
}

/* @media only screen  and (max-width: 430px)  */
@media only screen and (max-width: 970px) {
	.header-options {
		height: 50%;
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		transition: ease .5s all;
	}

	.header-options .option {
		width: 100%;
		height: 18rem;
		overflow: hidden;		
	}

	.header {
		height: auto;
	}
	.option-image {
		width: 100%;
		height: auto;
	}

	.option-title {
		margin: 0;
	}
	
}