.footer {
	position: relative;
	width: 100%;
	height: 20rem;
	background-color: aquamarine;
}

.footer-info {
	background-color: rgba(145, 232, 235, 0.8);
	width: calc(100% / 3);
	height: 9rem;
	position: absolute;
	top: 5px;
	left: 5px;
}

.footer-media {
	background-color: rgba(145, 232, 235, 0.8);
	width: calc(100% / 3);
	height: 9rem;
	position: absolute;
	bottom: 5px;
	left: calc(100% / 3);
}
.footer-contact {
	background-color: rgba(145, 232, 235, 0.8);
	width: calc(100% / 3);
	height: 9rem;
	position: absolute;
	top: 5px;
	right: 5px;
}

